
 <div class="container">
     <!--search bar start-->
    <div class="">
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
                  <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
            </div>
    </div>
    <!--search bar end-->

    <!--main content-->
    <div class="parent">
        <!--card start-->
        <div class="card">
            
                <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
                <div class="text">
                  <h3>Seamlessly </h3>
                  <i class="fa fa-eye" aria-hidden="true">234</i>
                </div>
              
        </div>
        <div class="card">
            
            <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
            <div class="text">
              <h3>Seamlessly </h3>
              <i class="fa fa-eye" aria-hidden="true">234</i>
            </div>
          
        </div>
        <div class="card">
            
            <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
            <div class="text">
              <h3>Seamlessly </h3>
              <i class="fa fa-eye" aria-hidden="true">234</i>
            </div>
          
    </div>
    <div class="card">
            
        <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
        <div class="text">
          <h3>Seamlessly </h3>
          <i class="fa fa-eye" aria-hidden="true">234</i>
        </div>
      
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<div class="card">
            
    <img src="/assets/images/Bird-Behaviour-Bronze.jpg" alt="Sample photo">
    <div class="text">
      <h3>Seamlessly </h3>
      <i class="fa fa-eye" aria-hidden="true">234</i>
    </div>
  
</div>
<!--card end-->
      </div>
    </div>