<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
            <h1 data-content="Afro-cast">Afro-cast</h1>
        
                 <h2>Sign Up</h2>
                 <div class="social-container">
                   <a href="#" class="social"><i class="fab fa-facebook-f"></i> </a>
                   <p> or </p>                 
                   <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                  
              </div>
 
            <p>FULL NAME</p>
            <input type="text" placeholder="Enter your full name" />
            <p>PASSWORD</p>
             <input type="password" placeholder="********" />
             <p>EMAIL</p>
             <input type="email" placeholder="Your e-mail goes here" />
             <p><input type="checkbox">I agree to all terms & conditions</p>
            <button>Sign Up</button>
            <a href="/">Already have an account?</a>
		</form>
	</div>
	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel">
                <img src="assets/images/podcast-image.jpg" height="480" width="430">
				
			</div>
		</div>
	</div>
</div>
</body>
